@use '../base/variables' as *;
@use '../base/mixins' as *;

nav{
    background-color: $primary-dark;
    width: 100%;
    padding: 1.5rem 0rem;
    position: fixed;
    bottom: 0;
    z-index: 1000;

    @media (min-width: $mobile){
        background-color: $primary-light;
        padding: 0;
        position: relative;
        z-index: 0;

    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;

        @media (min-width: $mobile){
            flex-direction: column;

        }
        
        li{
            p{
                color: $accent-green;
                font-size: 0.625rem;
                text-align: center;
                margin: 0;
            }
        }
    }

}


.nav-icon { 
    display: flex; 
    justify-content: center; 
    &:not(.nav-icon-tools) { 
        margin-bottom: 0.25rem; 
    } 
}

.nav-icon-tools { 
    transform: translateY(2.25px); 
}

.nav-icon:focus-visible, .nav-icon img:focus-visible {
    outline: 2px solid $accent-green;
    outline-offset: 4px;
}


// Skip Link Styling */
.skip-link {
    position: absolute;
    left: -999px;
    top: -999px;
    z-index: 1001;
    background-color: $primary-light; 
    color: $primary-dark;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;

    &:focus {
        left: 1rem;
        top: 1rem;
        outline: 2px solid $primary-dark;
    }
}

a[aria-current="page"] {
    outline: 2px solid $primary-dark;
    background-color: $primary-light;
}

