@use '../base/variables' as *;

nav{
    background-color: $primary-dark;
    width: 100%;
    padding: 1.5rem 0rem;
    position: fixed;
    bottom: 0;
    z-index: 1000;

    @media (min-width: $mobile){
        background-color: $primary-light;
        padding: 0;
        position: relative;
        z-index: 0;

    }

    ul{
        display: flex;
        justify-content: space-around;
        align-items: bottom;
        padding: 0;
        margin: 0;

        @media (min-width: $mobile){
            flex-direction: column;

        }
        
        li{
            p{
                color: $accent-green;
                font-size: 0.625rem;
            }
        }
    }

}


.nav-icon {
    display: flex;
    justify-content: center;
    
    &:not(.nav-icon-tools) {
        margin-bottom: 0.25rem;
    }
}

.nav-icon-tools{
    transform: translateY(+2.25px);
}
