@use '../base/variables' as *;

nav{
    background-color: $primary-dark;
    width: 100%;
    padding: 1.5rem 0rem;
    position: fixed;
    bottom: 0;
    z-index: 1000;

    ul{
        display: flex;
        justify-content: space-around;
        align-items: bottom;
        padding: 0;
        margin: 0;
        
        li{
            p{
                color: $accent-green;
                font-size: 0.625rem;
            }
        }
    }

}

.nav-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.nav-icon-tools{
    margin-top: 0.289rem;
}
