.overlay {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    color: white;
}

img{
    width: 150px;
    height: 150px;
}
