@use './variables' as *;
@use './mixins' as *;

@import 'normalize.css';

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (imported above)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography (called in _typography)
	- Elements
	- Links (called in _typography)
# Layouts
# Components (called in components folder within component-specific files)
	- mobileNav
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Elements
--------------------------------------------- */

.portfolio-item img{
    width: 100%;
    height: auto;
	border-radius: 4px;
	transition: filter 0.3s ease;

	&:hover img{
		filter: brightness(1.1);
	}
}

img{
    object-fit: cover;
    object-position: center center;
}


button{
    all: unset; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 4px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

body{
    background-color: $primary-light;
	@include flex-column();
	align-items: center;
	letter-spacing: 0.03em;
}

.site-wrapper {
    padding: 2rem 1rem 5.625rem;

	@media (min-width: $mobile){
		@include flex-row(clamp(4rem, 7vw, 8rem));
		max-width: 75rem;

		padding-left: clamp(1rem, 9vw, 19.75rem);
		padding-right: clamp(1rem, 9vw, 19.75rem);
		padding-top: clamp(4.5rem, 4vw, 6rem);
		padding-bottom: clamp(4.5rem, 4vw, 6rem);
	}
}

.section-sticky{
	width: fit-content;
	height: auto;

	@media (min-width: $mobile){
		width: 35%;
		padding-bottom: 4rem;
		max-height: 65vh;
	}
}

.section-scroll{
	@include flex-column(4rem);
}


 @media (min-width: $mobile){
	.section-scroll{
		@include flex-column(5rem);
		max-height: 75vh;
		width: 50%;
		overflow: auto;
		padding-left: clamp(2rem, 2vw, 4rem);
		padding-right: clamp(2rem, 2vw, 4rem);

		  &::-webkit-scrollbar {
			width: 12px; // Scrollbar width for WebKit browsers
		  }
	  
		  &::-webkit-scrollbar-thumb {
			background-color: $primary-dark; // Scrollbar thumb color
			border-radius: 3px;
		  }
	  
		  &::-webkit-scrollbar-track {
			background-color: $accent-green; // Scrollbar track color
			border: solid 2px $primary-dark;
			border-radius: 3px;
		  }


		
	}


}


html {
    scroll-behavior: smooth; /* Enables smooth scrolling for hash links */
}
/* Footer
--------------------------------------------- */


