@use './variables' as *;


/* Typography
--------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: $primary-dark;
    font-size: 1rem;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    line-height: 1.3;
}

h1 {
    font-size: clamp(2.75rem, 3.25vw, 3.75rem);
    transform: translateX(-2.5px);
    white-space: nowrap;
}

h2 {
    font-size: clamp(2.25rem, 2.75vw, 3rem);
    line-height: 1.5;
    font-weight: 450;
}

h3 {
    font-size: clamp(1.75rem, 1.75vw, 2rem);
    line-height: 1.6;
    font-weight: 400;
    transition: font-weight 0.1s ease-in-out, transform 0.1s ease-in-out;
}

p{
    margin: 0;
}

ul{
    list-style: none;
}

.home-name-title{
    line-height: 1.2;
}

.profile-title{
    font-size: 1.5rem;
    font-weight: 450;
}

.tagline{
    font-size: 1rem;

}



/* Links
--------------------------------------------- */
a{
	text-decoration: none;
    color: $primary-dark;

    &:hover,
    &:focus, 
    &:active {
        text-decoration: none;
        color: $primary-dark;
    }

    &:hover {
        transform: scale(1.03);
        transition: 0.25s;
    }
}


