// Colours
$primary-light: #F8F8F8;
$primary-dark: #011627;
$accent-green: #DBF8A0;
$strict-white: #FFFFFF;
$accent-green-text: #F7FEE7;
$accent-green-dark: #C1F066;

$contact-icon: #808B93;
$profile-item: rgba(1, 22, 39, 0.039);
$profile-item-hover: rgba(1, 22, 39, 0.12);

// Media Queries
$mobile: 48rem;
$breakpoint: 64rem;