// Colours
$primary-light: #F8F8F8;
$primary-dark: rgb(1, 22, 39);
$accent-green: #DBF8A0;
$strict-white: #FFFFFF;
$accent-green-text: #F7FEE7;
$accent-green-dark: #C1F066;

$contact-icon: #808B93;
$profile-item: rgba(1, 22, 39, 0.039);
$profile-item-hover: #F7FEE7;

// Media Queries
$mobile: 48rem;
$breakpoint: 64rem;