@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

#about{
    @include flex-column(2rem);
    width: 100%;

    @media (min-width: $mobile){
        max-width: 475px;
    }
}

.about-content{ 
    @include flex-column(1rem)
}

.about-content :focus {
    outline: 2px solid #005fcc;
    border-radius: 4px;
}

.favourite-tagline{
    font-style: italic; 
    font-weight: 500;
}

.fun{
    @include item-chip($primary-dark, $strict-white, $primary-dark)
}