@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

#work{
    @include flex-column(1rem);
}

.portfolio-featured-list{
    @include flex-column(1rem);

    @media (min-width: $mobile){
        @include flex-column(2rem);
    }
}

.portfolio-works-scroll{
    height: 840px;
    overflow: auto;
    @include flex-column(2rem);

      /* Hide scrollbars */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

} 

.portfolio-works-scroll::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}

.portfolio-item{
    @include flex-column(1rem);
    width: fit-content;
    height: auto;
    background-color: $accent-green;
    border-radius: 6px;
    border: solid 2.8px $primary-dark;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, border-width 0.1s ease-in-out;
    padding: 0.5rem 1rem;

    @media (min-width: $mobile){
        max-width: 475px;
        @include flex-column(1.25rem);

    }

    h3{
        font-weight: 450;
    }
    

    &:hover{
       background-color: $primary-dark;
       color: $strict-white;
       box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);/* Adds a subtle shadow for better aesthetics */

       .tool {
        @include item-chip($accent-green, $strict-white, $primary-dark);
        }

    }

    .more-info-container svg {
        transition: transform 0.3s ease; // Smooth transform for the SVG
      }
    
      &:hover .more-info-container svg {
        fill: $strict-white;
        transform: translateX(3px); // Slide icon slightly to the right
      }

    .tool {
        @include item-chip($primary-dark, $strict-white, $primary-dark); // Default styles
    }

}


.portfolio-item img{
    width: 100%;
    height: auto;
    max-height: 300px;
	border-radius: 4px;
	transition: filter 0.3s ease;
	object-fit: cover;
	object-position: top center;

	&:hover img{
		filter: brightness(1.1);
	}
}


.tools-list, .react-tabs__tab-panel ul, .fun-list{
    @include flex-row(0.5rem);
    flex-wrap: wrap;
    row-gap: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0
}

.more-info-container{
    @include flex-row (2px);
    align-items: center;

    svg{
        fill: "#011627";
        width: 16px;
        height: 16px;
    }
}