@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

/* Main
--------------------------------------------- */

#home{
    @include flex-column(3rem);

    .home-content{
        @include flex-column(1.5rem);
    }
}

.icon {
    fill: $contact-icon; /* Default color */
    transition: fill 0.3s ease; 
    width: 40px; /* Consistent sizing */
    height: 40px;
}

.icon-link:hover .icon {
    fill: $primary-dark; /* Color change on hover */
}


