@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

/* Main
--------------------------------------------- */

// Home Section
#home{
    @include flex-column(4rem);
    @include size-auto-fit;
}

.home-content{
    @include flex-column(2rem);
}


// Contact Section
.contact-icons{
    @include flex-row(2rem);
}

.icon {
    fill: $contact-icon; /* Default color */
    transition: fill 0.3s ease; 
    width: 40px;
    height: 40px;
}

.icon-link:hover .icon {
    fill: $primary-dark; /* Color change on hover */
}

// Work Section
#work{
    @include flex-column(1rem)
}

.portfolio-works-scroll{
    height: 840px;
    overflow: auto;
    @include flex-column(2rem);

      /* Hide scrollbars */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

} 

.portfolio-works-scroll::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

.portfolio-item{
    @include flex-column(0.5rem);
    width: 100%;
    height: auto;
}

.tools-list, .react-tabs__tab-panel ul, .fun-list{
    @include flex-row(0.5rem);
    flex-wrap: wrap;
    row-gap: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0
}

.tool{
    @include item-chip($primary-dark, $accent-green)
}

// Tools Section
.react-tabs__tab-list{
    @include flex-row(1rem);
    padding: 0;

}

// About Section
.fun{
    @include item-chip($primary-dark, $strict-white)
}