@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

/* Main
--------------------------------------------- */

// Home Section
#home{
    @include flex-column(4rem);
    @include size-auto-fit;
}

.home-content{
    @include flex-column(2rem);
}


// Contact Section
.contact-icons{
    @include flex-row(2rem);
}

.icon {
    fill: $contact-icon; /* Default color */
    transition: fill 0.3s ease; 
    width: 40px;
    height: 40px;
}

.icon-link:hover .icon {
    fill: $primary-dark; /* Color change on hover */
}

// Work Section
#work{
    @include flex-column(1rem)
}

.portfolio-works-scroll{
    height: 840px;
    overflow: auto;
    @include flex-column(2rem);

      /* Hide scrollbars */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

} 

.portfolio-works-scroll::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

.portfolio-item{
    @include flex-column(0.5rem);
    width: fit-content;
    // max-width: 400px;
    height: auto;
    background-color: $profile-item;
    transition: background-color 0.5s ease; 
    border-radius: 6px;
    padding: 4px 6px;

    &:hover{
       background-color: $profile-item-hover;
    }

    .more-info-container svg {
        transition: transform 0.3s ease; // Smooth transform for the SVG
      }
    
      &:hover .more-info-container svg {
        transform: translateX(3px); // Slide icon slightly to the right
      }
}

.tools-list, .react-tabs__tab-panel ul, .fun-list{
    @include flex-row(0.5rem);
    flex-wrap: wrap;
    row-gap: 0.5rem;
    width: 100%;
    height: auto;
    padding: 0
}

.tool{
    @include item-chip($primary-dark, $accent-green)
}

.more-info-container{
    @include flex-row (2px);
    align-items: center;

    svg{
        fill: "#011627";
        width: 16px;
        height: 16px;
    }
}

// Tools Section
.react-tabs__tab-list{
    @include flex-row(1rem);
    padding: 0;

}

// About Section
.fun{
    @include item-chip($primary-dark, $strict-white)
}