@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Overlay spans the full width of the screen for the background */
    height: 100vh; /* Overlay spans the full height of the screen for the background */
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensures the overlay appears on top of all content */
}

.overlay-content {
    background-color: $primary-dark;
    color: $primary-light;
    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* Allows scrolling if content overflows vertically */
    /* Hide scrollbars */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */



    @media (min-width: $mobile){
    width: 70vw; 
    height: 85vh;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


    @include flex-column();
    align-items: center;

    }


}

.overlay-content::-webkit-scrollbar{
    display: none; /* Hides scrollbar in WebKit browsers */
}

.top-bar{
    background-color: $primary-dark;
    width: fit-content;
    height: 2.5rem;
    padding: 0.5rem 0;
    position: fixed;
    @include flex-row();
    justify-content: end;
}

.close-btn svg{
    fill: $primary-light;
    padding: 8px;
}

.overlay-image{
    @include size-auto-fit;
    margin-top: 4rem;
    // overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

.acf-text{
    padding: 0 1rem 2rem;
    @include flex-column(clamp(2.25rem, 2vw, 2.5rem))
}

.overlay-links{
    @include flex-row();
    justify-content: space-evenly;
    padding: 1.5rem 0;
    width: 100%;
    height: auto;
}

.live-site-link{
    @include item-chip($primary-dark, $accent-green-dark, $primary-dark);
    width: fit-content;
}

.github-link{
    @include item-chip($primary-dark, $strict-white, $primary-dark);
    width: fit-content;
}

.overlay-intro{
    @include flex-column();
    align-items: center;
}

.overlay-tools-list{
    @include flex-row(0.5rem);
    justify-content: center;
    flex-wrap: wrap;

}

.overlay-tool{
    padding: 2px 6px;
    font-size: 1.125rem;
    border-right: solid 2px $primary-light;

    &:last-child{
        border-right: none;
    }
}

.overlay-collab-roles{
    @include flex-column();
    margin-top: clamp(2rem, 2vw, 3rem);
}

.overlay-sub-heading{
    font-size: 1rem;
    font-weight: 700;
}

.overlay-collab{
    @include flex-row(0.5rem);
}

.overlay-roles{
    @include flex-row(0.5rem);
    justify-content: center;
    @include size-auto-fit;

    ul{
        margin: 0;
        padding: 0;
        @include size-auto-fit;

        li{
            @include flex-row;
            &::after {
                content: ","; // Add a comma after each list item
                margin-right: 4px; // Optional: Add spacing after the comma
            }
    
            &:last-child::after {
                content: ""; // Remove the comma for the last item
            }
        }
    }
}

.overlay-description{
    @include flex-column(1rem)
}


.overlay-tablist{
    @include flex-row();
    margin: 0;
    padding: 0;
    @include size-auto-fit;
    font-size: 1.125rem;
    font-weight: 600;
}

.overlay-tab{
    padding: 6px 10px;
    border-radius: 5px 5px 0 0;
 
    &.react-tabs__tab--selected{
        color: $primary-dark;
    }
}

.overlay-tabpanel{
    color: $primary-dark;
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}